# Web Frameworks
fastapi
uvicorn
streamlit
requests
python-multipart

# AI & LangChain
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
pydantic
python-dotenv

# Data Processing
pypdf
beautifulsoup4

# Search Engine
tavily-python

# Vector DB Helper
chromadb